body {
    background-color: bisque;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
}

h2 {
    text-align: center;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 50vh;
    border-radius: 3%;
    background-color: black;
    padding: 5%;   
}
.mainContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.asideFlex {
    display: inline-block;
    width: 15%;
    height: 10vh;
    border: 1px cornflowerblue solid;
    padding: 20px;
    border-radius: 50px;
    background-color: blueviolet;
    color: mintcream;
}